<!-- This example requires Tailwind CSS v2.0+ -->
<div class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <hr>
        <div class="text-center mt-10">
            <h2 class="text-base text-indigo-600 font-extrabold tracking-wide uppercase">Powered by Angular | NestJs</h2>
            <p class="mt-1 leading-8 font-bold tracking-tight text-gray-900">
                A better way to grow your business
            </p>
            <p class="mt-1 max-w-2xl text-gray-500 lg:mx-auto">
                ©{{year}}.
            </p>
        </div>
    </div>
</div>